{% extends 'base.html.twig' %}

{% block title %}Regulamin
{% endblock %}

{% block body %}


	<div class="container" style="max-width:550px; margin-top:10%">
		<div class="card card-container">
			<h4 class="card-title mt-3 text-center">Regulamin</h4>
			<div class="card-body d-flex justify-content-center text-break">
				<p>dsasdadsaasdasdasddassssssasdddddddddddddddddddddddddddddddddddddddddddddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
			</div>			
		</div>
	</div>
	{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}


{% endblock %}
