<footer class="footer position-static bottom-0">
    <div class="card container" style="margin-top:20px; background-color: black">
        <div class="row" style="margin-left: 10px; margin-right:10px; background-color: black">
            <div class="col-md-6 col-6" style="height: 100px">
                <div style="margin-top:10px; margin-left:10px; color:white"><h4>Wszelkie prawa zastrzeżone<h4></div>
            </div>
            <div class="col-md-6 col-6" style="height: 100px">
                <div style="margin-top:10px; margin-right:10px">
                    <div class="row">
                        <div class="col-md-12 col-12" style="text-align:right; color:white">
                            <p>Obserwuj nas w social mediach</p>
                        </div>
                        <div class="col-md-12 col-12" style="text-align:right">
                            <img src="../images/insta.png" alt="Girl in a jacket" width="500" height="600">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>