<footer class="footer position-static bottom-0">
	<div class="card container" style="margin-top:20px; background-color: grey">
		<div class="row" style="margin-left: 10px; margin-right:10px; background-color: grey; max-height:300px">
			<div class="col-md-6 col-6" style="height: 100px">
				<div style="margin-top:40px; margin-left:10px; color:white">
					<h4>© Wszelkie prawa zastrzeżone<h4></div>
					</div>
					<div class="col-md-6 col-6" style="">
						<div style="margin-top:10px; margin-right:10px">
							<div class="row">
								<div class="col-md-12 col-12" style="text-align:right; color:white">
									<p style="font-size:20px">Obserwuj nas w social mediach</p>
								</div>
								<div class="col-md-12 col-12" style="text-align:right;">						
									<a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram fa-2x px-2" style="color: salmon"></i></a>		
                                    <a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-square fa-2x px-2" style="color: cornflowerblue"></i></a>
                                    <a href="https://www.youtube.com/" target="blank"><i class="fab fa-youtube fa-2x px-2" style="color: red"></i></a>
                                    <a href="https://twitter.com/" target="blank"><i class="fab fa-twitter fa-2x px-2" style="color:deepskyblue"></i></a>							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
