{% extends 'base.html.twig' %}

{% block title %}userPanel!{% endblock %}

{% block body %}

<div class="container" style="max-width: 700px; margin-top:10%; margin-bottom: 230px">
    <div class="card" style="text-align:center">
        <h2>Panel użytkownika</h2>
        <div class="card-body">
            <h5 class="card-title">Imię i Nazwisko</h5>
            <p class="card-text">{{ app.user.name }} {{ app.user.firstname }}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">E-mail</h5>
            <p class="card-text">{{ app.user.email }}</p>
        </div>        
        <div class="card-body">
            <h5 class="card-title">Typ użytkownika</h5>
            <p class="card-text">{% for role in app.user.roles %}
                                {{ role }} <br> 
                                {% endfor %}</p>
            
        </div>
        <div class="card-body">
            <a href="/userEdit" class="btn btn-primary" style="width: 200px;">Edytuj konto</a>
            <a href="" class="btn btn-danger" style="width: 200px;">Usuń konto</a>
        </div>
    </div>
</div>
{% endblock %}
